<% 
    const booking = locals.booking || {};
    const ticket = booking.ticket_id || {};
%>

<div class="card mx-5 mb-3">
    <div class="row g-0">
        <div class="col-md-10 px-2">
            <div class="card-body">
            <h5 class="card-title"><%= ticket.name %></h5>
            <p class="card-text">
                <strong>Cost:</strong> <%= ticket.price %> đ
            </p>
            <p class="card-text">
                <strong>Quantity:</strong> updating
            </p>
            <p class="card-text">
                <small class="text-muted"><%= new Date(booking.booking_time).toLocaleString() %></small>
            </p>
            </div>
        </div>
        <div class="col-md-2 px-2 pt-3">
            <p> <strong>Status:</strong> <%= booking.status %></p>
            <a href="" class="btn btn-danger">Cancel</a>
        </div>
    </div>
</div>