<% 
    const {
        _id,
        name,
        price,
        remaining_quantity,
        status
    } = locals.ticket || {};
%>


<div class="col-lg-4 col-md-12 mb-4">
    <div class="card">
    <div class="card-body">
        <p href="" class="text-reset">
            <h5 class="card-title mb-3"><%= name %></h5>
        </p>
        <h6 class="mb-3">
            <strong class="ms-2 text-danger"><%= price %> đ</strong>
        </h6>
        <div href="" class="text-reset">
            <p>Remaining: <%= remaining_quantity %></p>
        </div>
    </div>
    <div class="card-footer">
        <% if (status === 'available') { %>
            <a class="btn btn-primary">Add Ticket</a>
        <% } else { %>
            <a class="btn btn-light">Booked</a>
        <% } %>
    </div>
    </div>
</div>
