<% 
    const {
        userAuthenticated,
        name
    } = locals.sessionUser || {};
%>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">Ticket Reservation</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="/" class="nav-link" aria-current="page">Home</a>
            </li>
            <% if (userAuthenticated) { %>
                <li class="nav-item">
                    <a href="/carts" class="nav-link">Cart</a>
                </li>
                <li class="nav-item">
                    <a href="/bookings" class="nav-link">Booked Tickets</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <div class="avatar me-2">
                        <p class="title-medium mb-0">
                            <%= name.at() %>
                        </p>
                    </div>
                </li>
                <li class="nav-item">
                    <form action="/logout" method="post">
                        <button type="submit" class="nav-link btn btn-link">Logout</button>
                    </form>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a href="/login" class="nav-link">Login</a>
                </li>
            <% } %>
        </ul>
    </header>
</div>
