<!-- <header>
    <a href="/" class="btn btn-text">
        <p class="label-large">Ticket</p>

        <div class="state-layer"></div>
    </a>

    <a href="/register" class="btn btn-fill">
        <p class="label-large">Booked</p>

        <div class="state-layer"></div>
    </a>
</header> -->