/* 
  Snackbar 
*/
.snackbar-wrapper {
    position: fixed;
    left: 16px;
    right: 16px;
    bottom: 16px;
    z-index: 1060;
}

.snackbar {
    background-color: #2E3035;
    color: #EFF0F7;
    min-height: 48px;
    max-height: max-content;
    max-width: 60ch;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    box-shadow: var(--shadow-3);
    padding: 12px 16px;
    animation: snackbar-show 400ms cubic-bezier(0, 0, 0, 1) forwards;
}

@keyframes snackbar-show {
    0% { opacity: 0; }
    50% { opacity: 1; }
}

.snackbar.error {
    background-color: #BA1A1A;
    color: #FFFFFF;
}

/**
  Avatar
*/
.avatar {
    height: 32px;
    width: 32px;
    min-width: 32px;
    display: grid;
    font-size: 20px;
    place-items: center;
    background-color: #6C5677;
    color: #FFFFFF;
    border-radius: 50%;
    text-transform: uppercase;
    overflow: hidden;
  }

/**
  Form
*/
.container.login,.register {
  border-radius: 10px;
  background: #d7d7d7;
  margin-top: 10%;
  padding-inline: 30px;
  padding-bottom: 30px;
}
  