<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('./head', {title: 'Ticket Reservation'}) %>
</head>
<body>
    <%- include('../partials/top_app_bar') %>

    <div class="container">
        <h1 class="text text-danger">Your purchase is error!</h1>
        <p class="text text-danger">Please try again later!</p>
        <p>You can see your booked ticket <a href="/bookings">Booked List</a></p>
        <p>Or continue book ticket on <a href="/">Home</a></p>
    </div>
</body>
</html>
