<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('./head', {title: 'Ticket Page'}) %>
</head>
<body>
     <%- include('../partials/top_app_bar') %>

     <section style="background-color: #eee;">
        <div class="text-center container py-5">
            <div class="row">
                <% if (locals.allTickets.length) { %>
                    <% locals.allTickets.forEach(ticket => { %>
                        <%- include('../partials/ticket_card', { ticket }) %>
                    <% }); %>
                <% } %>
                <% if (locals.pagination.next || locals.pagination.prev) {  %>
                    <%- include('../partials/pagination') %>
                <% } %>
            </div>
        </div>
    </section>

    <!--
        #SNACKBAR
    -->
    <div class="snackbar-wrapper" data-snackbar-wrapper></div>
    <script src="/js/add_ticket.js" type="module"></script>
</body>
</html>